@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Poczekalnia";
}

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>

<div class="text-center">
    <h1 class="display-4">Kod gry: <span class="text-primary">@ViewBag.Code</span></h1>
    <h3>Witaj, @ViewBag.Nick! Czekamy na rozpoczęcie...</h3>
    <hr />

    <h4>Gracze w pokoju:</h4>
    <ul id="playersList" class="list-group list-group-flush" style="max-width: 400px; margin: 0 auto;">
    </ul>
</div>

<script>
    const connection = new signalR.HubConnectionBuilder().withUrl("/quizHub").build();

    // Odbieranie listy graczy z serwera
    connection.on("UpdatePlayerList", function(players){
        var list = document.getElementById("playersList");
        list.innerHTML = "";
        players.forEach(function (player) {
            var li =document.createElement("li");
            li.className = "list-group-item";
            li.textContent = player;
            list.appendChild(li;
        });
    });

    connection.start().then(function () {
        console.log("Połączono z SignalIR");

        // Po połączeniu, wywołaj metodę "JoinGame" na serwerze
        var code = "@ViewBag.Code";
        var nick = "@ViewBag.Nick";

        connecion.invoke("JoinGame", code, nick).catch(function (err) {
            return console.error(err.toString());
        });
    }).catch(function(err){
        return console.error(err.toString());
    });
</script>

@{
}
