@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Poczekalnia";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>

<div class="text-center">
    <h1 class="display-4">Kod gry: <span class="text-primary">@ViewBag.Code</span></h1>
    <h3>Witaj, @ViewBag.Nick! Czekamy na rozpoczęcie...</h3>
    <hr />

    <h4>Gracze w pokoju:</h4>
    <ul id="playersList" class="list-group list-group-flush" style="max-width: 400px; margin: 0 auto;">
    </ul>
</div>

<script>
    // Używamy CDN dla pewności
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/quizHub")
        .withAutomaticReconnect()
        .build();

    // 1. Odbieranie listy graczy (tak samo jak u Hosta)
    connection.on("UpdatePlayerList", function (players) {
        var list = document.getElementById("playersList");
        list.innerHTML = "";
        players.forEach(function (player) {
            var li = document.createElement("li");
            li.className = "list-group-item";
            li.textContent = player;
            list.appendChild(li);
        });
    });

    // 2. Host rozłączył grę
    connection.on("HostDisconnected", function() {
        alert("Nauczyciel zakończył grę.");
        window.location.href = "/Home/Index";
    });

    
    // 3. Obsługa błędów (np. zajęty nick)
    connection.on("ShowError", function (message) {
        alert(message);
        window.history.back(); // Wróć do formularza wpisywania nicku
    });
    

    // 4. Start połączenia
    connection.start().then(function () {
        var code = "@ViewBag.Code";
        var nick = "@ViewBag.Nick";

        // ZMIANA: Wywołujemy JoinGamePlayer zamiast JoinGame
        connection.invoke("JoinGamePlayer", code, nick).catch(function (err) {
            return console.error(err.toString());
        });

    }).catch(function (err) {
        return console.error(err.toString());
    });
</script>

@{
}
